.date {
  display    : flex;
  align-items: center;
  font-size  : 13px;
}


.tag {
  margin       : 2px;
  padding      : 2px 3px;
  font-size    : 13px;
  border       : 1px solid;
  white-space  : nowrap;
  max-width    : 50px;
  overflow     : hidden;
  text-overflow: ellipsis;
  border-radius: .5em;
  cursor       : pointer;
  transition   : var(--animation-3s);
}

.tag:hover {
  background-color: var(--main-color);
  color           : white;
  transition      : var(--animation-3s);
}
